@charset "UTF-8";
.print-box {
  margin: 0 auto;
  width: 24cm;
  height: 33cm;
  padding: 1.5cm;
  background-color: #fff;
}

.print-content {
  margin: 0 auto;
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  font: .4cm 宋体;
}

.print-content .lg-title {
  font: .7cm 黑体;
  text-align: center;
  line-height: 2;
}

.print-content .sm-title {
  font: .6cm 黑体;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  margin-bottom: .5cm;
}

.print-content table {
  display: table;
  width: 100%;
  border: 1px solid #000000;
  font-size: .4cm/.7cm 宋体;
  text-align: center;
}

.print-content table td {
  line-height: .8cm;
  padding: 0.1cm 0;
  border: 1px solid #000;
}

.print-content table td.w10 {
  width: 12%;
}

.print-content table td.w20 {
  width: 18%;
}

.print-content table td.ta-l {
  text-align: left;
  padding-left: .2cm;
}
