
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title id="title"></title>
    <link href="/assets_pc/style/reset.css?v=1.1.3" rel="stylesheet" />
    <link href="~/assets_pc/vendor/perfect-scrollbar/perfect-scrollbar.css?v=1.1.3" rel="stylesheet" />
    <link href="/assets_pc/style/common.css?v=1.1.3" rel="stylesheet" />
    <link href="/assets_pc/style/chart.css?v=1.1.3" rel="stylesheet" />
    <script src="/assets_pc/script/setFontSize.js?v=1.1.3"></script>
</head>
<body>
    <div class="main-content" id="scroll-box">

    </div>

</body>
</html>

