
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div style="text-align:center;">
        <h2>空</h2>
    </div>
</body>
</html>
